{{ label }}

<div class="container">
  <div class="action-group">
    <p class="action-label" i18n>Include</p>
    <mat-chip-listbox class="set">
      <mat-basic-chip-option *ngFor="let category of includedCategories">
        {{ category.name }}

        <button (click)="removeIncludedCategory(category.id)" matChipRemove>
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-basic-chip-option>
    </mat-chip-listbox>
    <button (click)="includeCategory()" color="primary" mat-icon-button
            type="button">
      <mat-icon>add_circle</mat-icon>
    </button>
  </div>

  <div class="action-group">
    <p class="action-label" i18n>Exclude</p>
    <mat-chip-listbox class="set">
      <mat-basic-chip-option *ngFor="let category of excludedCategories">
        {{ category.name }}

        <button (click)="removeExcludedCategory(category.id)" matChipRemove>
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-basic-chip-option>
    </mat-chip-listbox>
    <button (click)="excludeCategory()" color="accent" mat-icon-button
            type="button">
      <mat-icon>remove_circle</mat-icon>
    </button>
  </div>
</div>
