<div class="container">
    <form>
        <div class="login-box">
            <h1 i18n>Welcome!</h1>
            <mat-form-field appearance="fill" class="login-box-item">
                <mat-label i18n>Email</mat-label>
                <input [formControl]="email" matInput type="email" required>
                <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label i18n>Password</mat-label>
                <input [formControl]="password" matInput type="password" required>
                <mat-icon matSuffix>key</mat-icon>
            </mat-form-field>

            <mat-error *ngIf="error_id.length > 0">
                <ng-container *ngIf="error_id == 'invalid_credentials'" i18n>Invalid credentials</ng-container>
            </mat-error>

            <p i18n>Don't have an account? <a href="sign-up">Sign up</a></p>

            <button (click)="onClickLogin()" mat-raised-button color="primary" type="button" i18n>Login</button>

            <p><a href="forgot-password" i18n>Forgot your password?</a></p>
        </div>
    </form>
</div>