<div class="container">
  <form>
    <div class="login-box">
      <h1 i18n class="login-box-title">Welcome!</h1>
      <mat-form-field appearance="fill" class="login-box-item">
        <mat-label i18n>Email</mat-label>
        <input (change)="onInputChange()" [formControl]="email" matInput required type="email">
        <mat-icon matSuffix>email</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label i18n>Password</mat-label>
        <input (change)="onInputChange()" [formControl]="password" matInput required type="password">
        <mat-icon matSuffix>key</mat-icon>
      </mat-form-field>

      <mat-error *ngIf="error.length > 0">
        {{ error }}
      </mat-error>

      <p i18n>Don't have an account? <a href="sign-up">Sign up</a></p>

      <ng-container *ngIf="!loading">
        <button (click)="onClickLogin()" color="primary" i18n mat-raised-button type="button">Login</button>
      </ng-container>

      <ng-container *ngIf="loading">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </ng-container>

      <p><a href="forgot-password" i18n>Forgot your password?</a></p>
    </div>
  </form>
</div>
