.container {
  display: flex;
  justify-content: center;
  align-items: center;

}

.login-box {
  display: flex;
  flex-direction: column;
  padding: 32px;
  background-color: whitesmoke;
  width: min(100vw, 360px);
}

.login-box-item {
  flex: 1 0;
}
