<h2 *ngIf="initializationData.inclusionMode" i18n mat-dialog-title>Include category</h2>
<h2 *ngIf="!initializationData.inclusionMode" i18n mat-dialog-title>Exclude category</h2>
<mat-dialog-content>
  <app-category-select (categorySelect)="selectedCategory($event)"
                       [allSelectableMode]="true"
                       [categories$]="initializationData.categories$"
                       [excludeIds]="initializationData.excludeIds"
                       [filterByIds]="initializationData.selectableChildrenOfIds"
                       [selectableChildrenOfIds]="initializationData.selectableChildrenOfIds"></app-category-select>
</mat-dialog-content>
<mat-dialog-actions>
  <button i18n mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
