<div class="org-selector">
  <a class="org-selector-item" href="#">
    <app-initials-avatar height="48px" text="Example" width="48px"></app-initials-avatar>
    <div class="org-selector-item-text">
      <div class="org-selector-item-title">
        SimpleG
      </div>
      <div class="org-selector-item-subtitle">
        This is the motto of the organization
      </div>
    </div>
    <div class="org-selector-item-action">
      <mat-icon>keyboard_arrow_right</mat-icon>
    </div>
  </a>
  <a class="org-selector-item" href="#">
    <app-initials-avatar height="48px" text="Example" width="48px"></app-initials-avatar>
    <div class="org-selector-item-text">
      <div class="org-selector-item-title">
        SimpleG
      </div>
      <div class="org-selector-item-subtitle">
        This is the motto of the organization
      </div>
    </div>
    <div class="org-selector-item-action">
      <mat-icon>keyboard_arrow_right</mat-icon>
    </div>
  </a>
  <a class="add-new-organization" href="#">
    <div class="add-new-organization-row">
      <mat-icon>add</mat-icon>
      <span class="spacer"></span>
      Add a new organization
    </div>
  </a>
</div>
