<mat-form-field *ngIf="!control.value" appearance="fill">
  <mat-label>{{ label }}</mat-label>
  <input [formControl]="searchControl" [matAutocomplete]="auto" matInput type="text">
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectOption($event)" autoActiveFirstOption>
    <mat-option *ngFor="let value of filteredValues | async" [value]="value">
      {{ value.displayName }}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
<mat-form-field *ngIf="control.value" appearance="fill">
  <mat-label>{{ label }}</mat-label>
  <input [value]="control.value.displayName" disabled="true" matInput type="text">
  <button (click)="deselectOption()" mat-icon-button matSuffix>
    <mat-icon>clear</mat-icon>
  </button>
</mat-form-field>
