<div class="entity-selector-container">
  <div class="entity-display">
    <mat-form-field appearance="outline" class="entity-display-field">
      <mat-label>{{ entityName }}</mat-label>
      <input #entityNameInput (focus)="entityNameInput.blur()" [formControl]="entityControl" matInput>
      <button (click)="clear()" [hidden]="!isClearButtonVisible()" mat-icon-button matSuffix type="button">
        <mat-icon>clear</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div class="entity-selector">
    <button (click)="openDialog()" mat-icon-button type="button">
      <mat-icon>more_horiz</mat-icon>
    </button>
  </div>
</div>
