<h1 i18n mat-dialog-title>New {{ entityName.toLowerCase() }}</h1>
<form [formGroup]="formGroup">
  <div class="padding" mat-dialog-content>
    <app-autocomplete-select [control]="country"
                             [values]="autocompleteSelectCountryProviderService.getCountryList('en')"
                             i18n-label
                             label="Country"></app-autocomplete-select>
    <mat-divider class="transparent-divider"></mat-divider>
    <mat-form-field>
      <mat-label i18n>Identification code</mat-label>
      <input [formControl]="identification" matInput required type="text">
    </mat-form-field>
    <mat-divider class="transparent-divider"></mat-divider>
    <mat-form-field>
      <mat-label i18n>Company name</mat-label>
      <input [formControl]="name" matInput required type="text">
    </mat-form-field>
    <mat-divider class="transparent-divider"></mat-divider>
    <mat-form-field>
      <mat-label i18n>Address</mat-label>
      <input [formControl]="address" matInput required type="text">
    </mat-form-field>
    <mat-divider class="transparent-divider"></mat-divider>
    <mat-form-field>
      <mat-label i18n>Email address</mat-label>
      <input [formControl]="email" matInput type="text">
    </mat-form-field>
    <mat-divider class="transparent-divider"></mat-divider>
    <mat-form-field>
      <mat-label i18n>Phone number</mat-label>
      <input [formControl]="phone" matInput required type="text">
    </mat-form-field>
  </div>
  <div align="end" mat-dialog-actions>
    <button i18n mat-button mat-dialog-close type="button">Cancel</button>
    <button (click)="addNewProducer()" i18n mat-button>Add</button>
  </div>
</form>
