.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  display: flex;
  flex-direction: column;
  padding: 32px;
  background-color: whitesmoke;
  width: min(100vw, 360px);
}

.login-box-title {
  text-align: center;
}

.login-box-item {
  flex: 1 0;
}

.organization-mode {
  padding-bottom: 16px;
}

.organization-mode-item {
  padding: 16px;
}

.address-container {
  display: flex;
  flex-direction: column;
}

.error-hint {
  padding-top: 16px;
  padding-bottom: 16px;
}
