<div class="container">
    <form>
        <div class="login-box">
            <h1 i18n>Welcome!</h1>
            <mat-form-field appearance="fill" class="login-box-item">
                <mat-label i18n>Email</mat-label>
                <input matInput type="email" required>
                <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label i18n>Password</mat-label>
                <input matInput type="password" required>
                <mat-icon matSuffix>key</mat-icon>
            </mat-form-field>

            <mat-radio-group>
                <mat-radio-button class="organization-mode-selection" value="1" i18n #createAnOrganization>
                    Create an organization
                </mat-radio-button>
                <mat-radio-button class="organization-mode-selection" value="2" i18n #joinAnExistingOrganization>
                    Join an existing organization
                </mat-radio-button>
            </mat-radio-group>

            <!-- Create an organization -->
            <ng-container *ngIf="createOrJoinOrganization?.selected?.value == 1">
                <app-autocomplete-select [values]="countries.getCountryList('en')">

                </app-autocomplete-select>

                <mat-form-field appearance="fill" class="login-box-item">
                    <mat-label i18n>Organization name</mat-label>
                    <input matInput type="text" required>
                    <mat-icon matSuffix>account_balance</mat-icon>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label i18n>Password</mat-label>
                    <input matInput type="password" required>
                    <mat-icon matSuffix>key</mat-icon>
                </mat-form-field>
            </ng-container>

            <p i18n>Already have an account? <a href="login">Login here</a></p>

            <button mat-raised-button color="primary" type="submit" i18n>Sign up</button>
        </div>
    </form>
</div>