<h2 i18n mat-dialog-title>Product</h2>
<mat-dialog-content class="mat-typography">
  <mat-stepper #stepper (selectionChange)="validateForms()" linear="true" orientation="vertical">
    <mat-step [stepControl]="categoryGroup">
      <ng-template i18n matStepLabel>Product Category</ng-template>
      <mat-divider class="transparent-divider"></mat-divider>
      <app-category-select (categoryDeselect)="deselectCategory()" (categorySelect)="selectCategory($event)"
                           [categories$]="categories$" [categoryControl]="categoryGroup.controls.categoryControl"
                           [filterByIds]="filterByIds"
                           [formGroup]="categoryGroup"></app-category-select>

      <button i18n mat-button matStepperPrevious>Back</button>
      <button i18n mat-button matStepperNext>Next</button>
    </mat-step>
    <ng-container *ngIf="selectedCategory !== null">
      <ng-container *ngFor="let category of selectedCategory.treePath(); let last = last;">
        <mat-step [stepControl]="formCategoryGroups.get(category.id)!">
          <ng-template matStepLabel>{{ category.name }}</ng-template>
          <mat-divider class="transparent-divider"></mat-divider>
          <app-category-attributes (outputFormGroup)="formCategoryGroups.set(category.id, $event)" [category]="category"
                                   [formGroup]="formCategoryGroups.get(category.id)!"
                                   class="step-container"></app-category-attributes>
          <div>
            <button i18n mat-button matStepperPrevious>Back</button>
            <button (click)="onClickNext(category.id)" i18n mat-button matStepperNext>Next</button>
          </div>
        </mat-step>
      </ng-container>
    </ng-container>

    <mat-step>
      <ng-template i18n matStepLabel>Finish</ng-template>
      <p i18n>In order to finish, press the "Add" button.</p>
    </mat-step>
  </mat-stepper>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button cdkFocusInitial i18n mat-button mat-dialog-close>Cancel</button>
  <button (click)="closeDialogWithProductData()" [disabled]="!isCompleted" i18n mat-button>Add</button>
</mat-dialog-actions>
