.container {
  display: flex;
  flex-direction: column;
}

.filter-field {
  flex: 1 1 100%;
  padding: 8px;
}

.filter-form-field {
  width: 100%;
}

.entity-selector {
  flex: 1 1 100%;
  padding: 8px;
}
