<div class="container">
    <form>
        <div class="login-box">
            <h1 i18n>Forgot password</h1>
            <p class="description">Insert your email and we will send you a recovery link through which you can reset
                your password.</p>
            <mat-form-field appearance="fill" class="login-box-item">
                <mat-label i18n>Email</mat-label>
                <input matInput type="email" required>
                <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>

            <button mat-raised-button color="primary" type="submit" i18n>Send request</button>

            <p i18n>Don't have an account? <a href="sign-up">Sign up</a></p>
        </div>
    </form>
</div>