<div class="container">
  <form>
    <div class="login-box">
      <ng-container *ngIf="!success">
        <h1 i18n class="login-box-title">Forgot password</h1>
        <p class="description" i18n>Insert your email and we will send you a recovery link through which you can reset
          your password.</p>
        <mat-form-field appearance="fill" class="login-box-item">
          <mat-label i18n>Email</mat-label>
          <input [formControl]="email" matInput required type="email">
          <mat-icon matSuffix>email</mat-icon>
        </mat-form-field>

        <ng-container *ngIf="error.length > 0">
          <mat-error>{{ error }}</mat-error>
        </ng-container>

        <ng-container *ngIf="!loading">
          <button (click)="onSendRequestClick()" color="primary" i18n mat-raised-button type="submit">Send request
          </button>
        </ng-container>

        <ng-container *ngIf="loading">
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </ng-container>

        <p i18n>Don't have an account? <a href="sign-up">Sign up</a></p>
      </ng-container>

      <ng-container *ngIf="success">
        <h1 i18n>Email sent</h1>
        <p class="description">A recovery link has been sent successfully to your email account.</p>
        <a href="login">Back to login</a>
      </ng-container>
    </div>
  </form>
</div>
