.category-form {
  padding-top: 16px;
}

.category-tree {
  overflow-x: auto;
}

.category-tree-node {
  width: fit-content;
  overflow-x: auto;
  padding-bottom: 8px;
}

.category-select-button {
  overflow: hidden;
  word-break: keep-all;
  white-space: nowrap;
  width: fit-content;
}

.category-index-container {
  overflow-x: auto;
  overflow-y: hidden;
  padding-top: 8px;
  padding-bottom: 8px;
  display: flex;
  align-items: center;
}

.category-index {
  width: fit-content;
}

.clear-button {
  margin-left: 8px;
}
