<form [formGroup]="formGroup" class="category-form">
  <ng-container *ngIf="selectedCategory === null">
    <mat-form-field appearance="outline">
      <mat-label i18n>Category</mat-label>
      <input (input)="handleSearchInput()" [formControl]="searchControl" matInput type="text">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="category-tree">
      <mat-tree-node *matTreeNodeDef="let node" class="category-tree-node" matTreeNodePadding>
        <button disabled mat-icon-button></button>
        <ng-container *ngIf="node.category.selectable">
          <button (click)="selectedCategory = node.category" class="category-select-button"
                  mat-stroked-button>
            {{ node.name }}
          </button>
        </ng-container>
        <ng-container *ngIf="!node.category.selectable">
          {{ node.name }}
        </ng-container>
      </mat-tree-node>

      <mat-tree-node *matTreeNodeDef="let node; when: hasChild" class="category-tree-node" matTreeNodePadding>
        <button mat-icon-button matTreeNodeToggle>
          <mat-icon class="mat-icon-rtl-mirror">
            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
          </mat-icon>
        </button>
        <ng-container *ngIf="node.category.selectable">
          <button (click)="selectedCategory = node.category" class="category-select-button"
                  mat-stroked-button>
            {{ node.name }}
          </button>
        </ng-container>
        <ng-container *ngIf="!node.category.selectable">
          {{ node.name }}
        </ng-container>
      </mat-tree-node>
    </mat-tree>
  </ng-container>
  <ng-container *ngIf="selectedCategory !== null">
    <div class="category-index-container">
      <app-category-index (categorySelect)="selectCategory($event)" [category]="selectedCategory"
                          class="category-index"></app-category-index>

      <button (click)="selectedCategory = null" *ngIf="selectedCategory !== null" class="clear-button"
              mat-icon-button>
        <mat-icon>clear</mat-icon>
      </button>
    </div>
  </ng-container>
</form>
