<mat-label>{{ label }}</mat-label>
<div [id]="instanceId" class="image-list">
  <div *ngFor="let image of images; index as index" class="image-item">
    <img [src]="image.url">

    <button (click)="removeImage(index)" mat-mini-fab type="button">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <button (click)="selectFile()" *ngIf="images.length < limits.maximum" class="image-list-add" color="primary"
          mat-fab type="button">
    <input (change)="onFileChange($event)" accept=".png,.jpg,.jpeg,.webp" class="image-file-selector" type="file">

    <mat-icon>add</mat-icon>
  </button>
</div>
<ng-container *ngIf="formValidated">
  <mat-error *ngIf="control.hasError('requiredImageCount') && limits.minimum > 1" i18n>
    You must upload at least {{ limits.minimum }} images.
  </mat-error>
  <mat-error *ngIf="control.hasError('requiredImageCount') && limits.minimum === 1" i18n>
    You must upload at least 1 image.
  </mat-error>
  <mat-error *ngIf="control.hasError('exceededMaximumImageCount') && limits.maximum > 1" i18n>
    You have exceeded the limit of {{ limits.maximum }} images.
  </mat-error>
  <mat-error *ngIf="control.hasError('exceededMaximumImageCount') && limits.maximum === 1" i18n>
    You have exceeded the limit of 1 image.
  </mat-error>
</ng-container>
