.image-list {
  padding: 16px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.image-item {
  display: flex;
  padding: 16px;
}

.image-item > img {
  border-radius: 4px;
  width: 128px;
  height: 128px;
  object-fit: cover;
}

.image-item > button {
  position: absolute;
}

.image-file-selector {
  display: none;
}

.image-list-add {
  margin: 16px;
}
